%h1=t('restaurants.header')

%table
  %thead
    %tr
      %th= t('restaurants.columns.name')
      %th= t('restaurants.columns.address')
      %th= t('restaurants.columns.phone')
  %tbody
    - @restaurants.each do |restaurant|
      %tr.restaurant
        %td= restaurant.name
        %td= restaurant.address
        %td= restaurant.phone




